<div class= "container">
  <div class="row">
    <div class = "col-lg-2">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
          <%= link_to class:"nav-link" do%>
            <i class="fas fa-tasks"><span>Todo</span></i>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to class:"nav-link" do%>
            <i class= "nav-link fas fa-fw fa-wrench">Setting</i>
          <% end %>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading"></div>
      </ul>
    </div>
  </div>
</div>